<section class="card card-rounded blog-title-list">
    <a href="/dashboard/edit/{{id}}">
        <div class="card-header display-flex justify-space-between align-center">
            <h2>{{title}}</h2>
            <div>{{format_date date_created}}</div>
        </div>
    </a>
</section>