<div class="card card-rounded comment">
    <div class="card-body">
        <div>From <i>{{user.username}}</i> on {{format_date date_created}}</div>
        <br>
        <i><div class="content">{{content}}</div></i>
    </div>
</div>