<div class="card card-rounded comment">
    <div class="card-body">
        <div>From <i>{{user.username}}</i> on {{format_date date_created}}</div>
        <br>
        <div><i>{{content}}</i></div>
    </div>
</div>