<div class="user-blog-list">
    {{#each blogs}}
    {{> dashboard-blog-list}}
    {{/each}}
</div>

<div class="position-bottom">
    <button id="new-post" class="btn btn-primary btn-lg display-block mx-auto">+ New Post</button>
</div>

<script src="/js/dashboard.js"></script>